<odoo>
    <data>
        <!-- Menu del Sistema -->
        <menuitem id="menu_perecedero" name="Perecedero" sequence="1" />

        <!-- Menús Principales -->
        <menuitem id="menu_administracion" name="Administración" parent="menu_perecedero"
            sequence="1" />
        <menuitem id="menu_registro" name="Registro" parent="menu_perecedero" sequence="2" />
        <menuitem id="menu_gestion" name="Gestión" parent="menu_perecedero" sequence="3" />
        <menuitem id="menu_configuracion" name="Configuración" parent="menu_perecedero" sequence="4" />
        <!-- <menuitem id="menu_miempresa" name="Empresa" parent="menu_perecedero"
            action="action_miempresa" /> -->
        <!-- Submenús -->
        <menuitem id="menu_estructura" name="Estructura Empresa" parent="menu_administracion"
            sequence="1" />
        <menuitem id="menu_estructura_sucursal" name="Sucursal" parent="menu_estructura"
            sequence="1" action="action_sucursal" />
        <menuitem id="menu_estructura_complejo" name="Complejo" parent="menu_estructura"
            sequence="2" action="action_complejo" />
        <menuitem id="menu_estructura_establecimiento" name="Establecimiento"
            parent="menu_estructura" sequence="3" action="action_establecimiento" />

        <menuitem id="menu_registro_producto" name="Productos" parent="menu_registro" sequence="1"
            action="action_producto" />
        <menuitem id="menu_registro_lotes" name="Lotes" parent="menu_registro" sequence="2"
            action="action_lote" />
        <menuitem id="menu_rebaja_lotes" name="Rebaja Lotes" parent="menu_registro" sequence="3"
            action="action_rebaja_lote" />

        <menuitem id="menu_registro_categoria" name="Categoría" parent="menu_configuracion"
            sequence="1" action="action_categoria" />
        <menuitem id="menu_registro_etiquetas" name="Etiquetas" parent="menu_configuracion"
            sequence="2" action="action_etiqueta" />
        <menuitem id="menu_registro_unidad_medida" name="Unidad de Medida"
            parent="menu_configuracion" sequence="3" action="action_um" />


        <menuitem id="menu_solicitud_rebaja" name="Solicitudes de Rebaja" parent="menu_gestion"
            sequence="2" action="action_solicitud_rebaja" />
        <menuitem id="menu_rebaja" name="Rebaja" parent="menu_gestion" sequence="1" action="action_rebaja" />
        <!-- <menuitem id="menu_fecha_validacion" name="Fecha de Validación" parent="menu_gestion"
        sequence="3" action="action_fecha_validacion" /> -->
        <menuitem id="menu_codigo_23" name="Codigos 23" parent="menu_gestion" sequence="3"
            action="action_codigo23" />
        <menuitem id="menu_circulares" name="Circulares" parent="menu_gestion" sequence="4"
            action="action_circulares" />
    </data>
</odoo>